<nav class="navbar navbar-dark">
  <div class="container-fluid d-flex justify-content-center align-items-center">
    <a id="shoppingcar" class="navbar-brand d-flex align-items-center" href="#">
      <span id="shoppingcaritems" class="badge bg-danger mr-2">12</span>
      <span style="font-size: 30px;">&#128722;</span>
    </a>
  </div>
</nav>