<div class="container">
  <p class="lead text-center pt-4"><strong style="font-size: 30px;">Bienvenido al mercado WEB, seleccione sus productos</strong></p>
  <div class="row justify-content-center">
    {{#each products}}
    {{> producto product=this}}
    {{/each}}
  </div>
</div>